<div ng-controller="productsUploadCtrl">
  <div ui-view='header'></div>
  <div layout="row">
    <div layout="column">
      <div ui-view='sidebar' class="sidebar"></div>
    </div>
    <div layout="column" flex="grow" class="p-r-80 p-l-250">
      <div layout="row">
        <div layout="column" flex="grow">
          <form name="productsUploadForm" class="upload-form">
            <div ng-messages="productsUploadForm.name.$error" style="color:#8f1cff" role="alert" ng-if="submitted">
              <div ng-message="required">Name is required</div>
            </div>
            <div ng-messages="productsUploadForm.brand.$error" style="color:#8f1cff" role="alert" ng-if="submitted">
              <div ng-message="required">Brand is required</div>
            </div>
            <div ng-messages="productsUploadForm.description.$error" style="color:#8f1cff" role="alert" ng-if="submitted">
              <div ng-message="required">Description is required</div>
            </div>
            <div ng-messages="productsUploadForm.featured_image.$error" style="color:#8f1cff" role="alert" ng-if="submitted">
              <div ng-message="required">Logo is required</div>
            </div>
            <label class="m-t-0">Name</label>
            <input name="name" type="text" ng-model="name" required>
            <label>Description</label>
            <textarea name="description" type="text" ng-model="description" required></textarea>
            <label>Brand</label>
            <md-select name="brand" ng-model="brand" placeholder="" class="md-no-underline" required md-no-asterisk="true" aria-label="Brand">
              <md-option ng-repeat="brand in brands" value="{{brand.id}}">{{brand.name}}</md-option>
            </md-select>
          </form>
        </div>
      </div>
      <div layout="row">
        <div layout="column" flex="grow">
          <div ui-view='dropzone'></div>
        </div>
      </div>
      <div layout="row">
        <div layout="column" flex="grow">
          <div>
            <button class="btn btn-dark upload-btn" ng-click="upload();">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>