<div ui-view='header'></div>
<div>
  <div layout="row">
    <div layout="column">
      <div ui-view='sidebar' class="sidebar"></div>
    </div>
    <div layout="column" flex="grow" class="p-r-80">
      <form class="upload-form">
        <label class="m-t-0">Title</label>
        <input type="text">
        <label>Name</label>
        <input type="text">
        <label>Description</label>
        <input type="text" class="lg-input">
      </form>
    </div>
  </div>
</div>