<div ng-controller="productsViewCtrl">
  <div ui-view='header'></div>
  <div layout="row">
    <div layout="column">
      <div ui-view='sidebar' class="sidebar"></div>
    </div>
    <div layout="column" flex="grow" class="p-r-80 p-l-250">
      <div layout="row">
        <div layout="column" flex="grow">
          <form class="upload-form">
            <label class="m-t-0">Name</label>
            <input type="text" ng-model="object.name">
            <label>Brand</label>
            <md-select ng-model="object.brand.id" placeholder="" class="md-no-underline" required md-no-asterisk="true" aria-label="Select Brand">
              <md-option ng-repeat="brand in brands" value="{{brand.id}}">{{brand.name}}</md-option>
            </md-select>
          </form>
        </div>
      </div>
      <div layout="row">
        <div layout="column" flex="grow">
          <div ui-view='dropzone'></div>
        </div>
      </div>
      <div layout="row">
        <div layout="column" flex="grow">
          <div>
            <button class="btn btn-dark upload-btn" ng-click="update();">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>