<div ng-controller="dispensariesUploadCtrl">
  <div ui-view='header'></div>
  <div layout="row">
    <div layout="column">
      <div ui-view='sidebar' class="sidebar"></div>
    </div>
    <div layout="column" flex="grow" class="p-r-80 p-l-250">
      <div layout="row">
        <div layout="column" flex="grow">
          <form name="dispensariesUploadForm" class="upload-form">
            <div ng-messages="dispensariesUploadForm.name.$error" style="color:#8f1cff" role="alert" ng-if="submitted">
              <div ng-message="required">Name is required</div>
            </div>
            <div ng-messages="dispensariesUploadForm.description.$error" style="color:#8f1cff" role="alert" ng-if="submitted">
              <div ng-message="required">Description is required</div>
            </div>
            <div ng-messages="dispensariesUploadForm.address.$error" style="color:#8f1cff" role="alert" ng-if="submitted">
              <div ng-message="required">Street address is required</div>
            </div>
            <div ng-messages="dispensariesUploadForm.city.$error" style="color:#8f1cff" role="alert" ng-if="submitted">
              <div ng-message="required">City is required</div>
            </div>
            <div ng-messages="dispensariesUploadForm.state.$error" style="color:#8f1cff" role="alert" ng-if="submitted">
              <div ng-message="required">State is required</div>
            </div>
            <div ng-messages="dispensariesUploadForm.postal_code.$error" style="color:#8f1cff" role="alert" ng-if="submitted">
              <div ng-message="required">Zip code is required</div>
              <div ng-message="pattern">Zip code must contain 5 digits</div>
            </div>
            <div ng-messages="dispensariesUploadForm.logo.$error" style="color:#8f1cff" role="alert" ng-if="submitted">
              <div ng-message="required">Logo is required</div>
            </div>
            <label class="m-t-0">Name</label>
            <input name="name" type="text" ng-model="name" required>
            <label>Description</label>
            <textarea name="description" type="text" ng-model="description" required></textarea>
            <label>Street Address</label>
            <input name="address" type="text" ng-model="address" required>
            <div layout="row">
              <div layout="column" flex="stretch" class="m-r-9">
                <label>City</label>
                <input name="city" type="text" ng-model="city" required>
              </div>
              <div layout="column" flex="stretch" class="m-r-9 m-l-9">
                <label>State</label>
                <input name="state" type="text" ng-model="state" required>
              </div>
              <div layout="column" flex="stretch" class="m-l-9">
                <label>Zip Code</label>
                <input name="postal_code" type="number" ng-model="postal_code" required pattern="(\d{5}([\-]\d{4})?)" maxlength="5">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div layout="row">
        <div layout="column" flex="grow">
          <div ui-view='dropzone'></div>
        </div>
      </div>
      <div layout="row">
        <div layout="column" flex="grow">
          <div>
            <button class="btn btn-dark upload-btn" ng-click="upload();">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
