<td class="text-center" >
  <md-checkbox ng-checked="exists(object, selected)" ng-click="toggle(object, selected)" md-no-ink aria-label="Select Single"></md-checkbox>
</td>
<td>
  <div ng-if="object.logo" class="list-thumbnail" style="background-image:url('{{object.logo}}')"></div>
  <div ng-if="object.image" class="list-thumbnail" style="background-image:url('{{object.image}}')"></div>
  <div ng-if="object.featured_image" class="list-thumbnail" style="background-image:url('{{object.featured_image}}')"></div>
</td>
<td>
  <p ng-if="object.name"><a ng-click='viewObject(object.id)'>{{object.name}}</a></p>
  <p ng-if="object.title"><a ng-click='viewObject(object.id)'>{{object.title}}</a></p>
</td>
<td>
  <p><a href="">{{object.brand.name}}</a></p>
  <p><a href="" class="capitalize">{{object.ad_type}}</a></p>
</td> 
 <td>
  <p><a href="" >{{object.updated_at | date:"M/dd/yyyy h:mma"}}</a></p>
</td>
<td>
  <a class="delete hidden" id="delete-{{object.id}}" ng-click="delete();">DELETE</a>
</td>