body {
  background-color: #fafafa;
  color: #333333;
  font-family: Avenir; }

a {
  color: #333333;
  font-size: 14px;
  text-decoration: none; }

.m-t-0 {
  margin-top: 0; }

.m-r-9 {
  margin-right: 9px; }

.m-l-9 {
  margin-left: 9px; }

.p-r-80 {
  padding-right: 80px; }

.p-l-250 {
  padding-left: 250px; }

.text-center {
  text-align: center; }

.capitalize {
  text-transform: capitalize; }

.hidden {
  display: none; }

.block {
  display: block; }

.icn-downarrow {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #c0c0c0;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 2px;
  margin-left: 5px;
  outline: 0; }

md-checkbox {
  display: inline-block;
  margin: 0;
  min-height: auto;
  min-width: auto;
  padding: 0; }

md-checkbox .md-container {
  height: 14px;
  left: auto;
  margin: 0;
  right: 0;
  width: 14px; }

md-checkbox .md-icon {
  border-radius: 0;
  border-width: 1px;
  height: 14px;
  width: 14px; }

md-checkbox.md-checked .md-icon:after {
  height: 8px;
  left: 4px;
  margin-top: 1px;
  width: 4px; }

md-checkbox.md-default-theme.md-checked, md-checkbox.md-checked .md-icon {
  background-color: #8f1cff; }

md-checkbox .md-container:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.header {
  height: 82px;
  background-color: #8f1cff;
  box-shadow: 0 0 4px 0 #4d0b8e;
  position: fixed;
  width: 100%;
  z-index: 100; }

.btn {
  border-radius: 100px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  float: right;
  font-size: 12px;
  font-weight: 900;
  margin-right: 22px;
  margin-top: 24px;
  outline: none;
  text-align: center; }
  .btn.btn-dark {
    background-color: #4a4a4a;
    border: 1px solid #4a4a4a; }
    .btn.btn-dark:hover {
      background-color: #0e0e0e;
      border: 1px solid #0e0e0e; }
  .btn.btn-transparent {
    background-color: transparent;
    border: 1px solid #fff;
    box-shadow: none; }
  .btn.upload-btn {
    margin: 0;
    margin-bottom: 40px; }

.sidebar {
  display: inline-block;
  margin-top: 132px;
  min-width: 200px;
  padding-left: 50px;
  position: fixed; }
  .sidebar li {
    padding: 10px 0; }
  .sidebar .active {
    color: #8f1cff; }
  .sidebar .bottom-menu {
    position: fixed;
    bottom: 0;
    margin-bottom: 50px; }

.search {
  background-image: url(/assets/images/icn-search.svg);
  background-position: 16px center;
  background-repeat: no-repeat;
  background-color: #fafafa;
  border: none;
  font-size: 14px;
  margin: 15px 0;
  outline: none;
  padding-left: 45px; }

.list {
  margin-bottom: 40px;
  margin-top: 82px;
  padding-left: 250px; }
  .list table {
    border-spacing: 0 10px;
    border-collapse: separate;
    width: 100%; }
    .list table .delete {
      color: #8f1cff; }
  .list thead tr {
    background: none;
    box-shadow: none;
    height: auto; }
  .list th {
    color: #7f7f7f;
    font-size: 14px;
    padding: 10px 0;
    text-align: left;
    vertical-align: middle; }
    .list th span {
      cursor: pointer;
      outline: none; }
    .list th.text-center {
      text-align: center; }
  .list tr {
    background-color: #fff;
    border-collapse: collapse;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    height: 80px; }
  .list td {
    vertical-align: middle; }
  .list .list-thumbnail {
    background-color: #f2f2f2;
    border: solid 1px #dddddd;
    background-size: cover;
    background-position: center center;
    display: block;
    margin: 0 auto;
    height: 46px;
    width: 46px; }
  .list a {
    cursor: pointer; }

.upload-form {
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.18);
  margin-top: 102px;
  padding-left: 250px;
  padding: 18px; }
  .upload-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 18px; }
  .upload-form input {
    border-radius: 4px;
    border: solid 1px #e0e0e0;
    height: 46px;
    outline: none;
    padding-left: 10px;
    width: 100%; }
    .upload-form input:focus {
      border-color: #8f1cff; }
  .upload-form textarea {
    border-radius: 4px;
    border: solid 1px #e0e0e0;
    height: 130px;
    outline: none;
    padding: 10px;
    width: 100%; }
    .upload-form textarea:focus {
      border-color: #8f1cff; }
  .upload-form md-select {
    border-radius: 4px;
    border: solid 1px #e0e0e0;
    height: 46px;
    margin: 0;
    outline: none;
    padding-left: 10px; }
    .upload-form md-select:focus {
      border-color: #8f1cff; }

md-option .md-text {
  overflow: visible; }

.color-picker-wrapper .input-group .input-group-addon {
  border-radius: 4px;
  outline: 0;
  width: 20px; }

.color-picker-wrapper .input-group {
  width: 100%; }

.dz-image img {
  height: 100%;
  width: auto; }
