<div ng-controller="brandsViewCtrl">
  <div ui-view='header'></div>
  <div layout="row">
    <div layout="column">
      <div ui-view='sidebar' class="sidebar"></div>
    </div>
    <div layout="column" flex="grow" class="p-r-80 p-l-250">
      <div layout="row">
        <div layout="column" flex="grow">
          <form name="brandEditForm" class="upload-form">
            <div ng-messages="brandEditForm.name.$error" style="color:maroon" role="alert" ng-if="submitted">
              <div ng-message="required">Name is required</div>
            </div>
            <div ng-messages="brandEditForm.description.$error" style="color:maroon" role="alert" ng-if="submitted">
              <div ng-message="required">Description is required</div>
            </div>
            <div ng-messages="brandEditForm.background_rgb.$error" style="color:maroon" role="alert" ng-if="submitted">
              <div ng-message="required">Background color is required</div>
              <div ng-message="pattern">#FF0000 pattern required for background color</div>
            </div>
            <label class="m-t-0">Name</label>
            <input name="name" type="text" ng-model="object.name">
            <label>Description</label>
            <textarea name="description" type="text" ng-model="object.description"></textarea>
            <label>Background Color</label>
            <color-picker name="background_rgb" options="colorOptions" ng-model="object.background_rgb"></color-picker>
          </form>
        </div>
      </div>
      <div layout="row">
        <div layout="column" flex="grow">
          <div ui-view='dropzone'></div>
        </div>
      </div>
      <div layout="row">
        <div layout="column" flex="grow">
          <div>
            <button class="btn btn-dark upload-btn" ng-click="upload();">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
