<div class="header" ng-controller="headerCtrl as header">
  <button class="btn btn-dark" ng-click="upload();" ng-if="'^.upload' | includedByState">Save</button>
  <button class="btn btn-transparent" ui-sref="^.list" ng-if="'^.upload' | includedByState">Cancel</button>
  <button class="btn btn-dark" ng-click="update();" ng-if="'^.view' | includedByState">Save</button>
  <button class="btn btn-transparent" ui-sref="^.list" ng-if="'^.view' | includedByState">Cancel</button>
  <button class="btn btn-dark" ui-sref="^.upload" ng-if="'^.list' | includedByState">+ Add</button>
  <button class="btn btn-dark" ng-click="importCSV($event)" ng-if="'^.list' | includedByState">Import CSV</button>
</div>
