<ul class="menu-items">
  <li>
    <a ui-sref="analytics" ui-sref-active="active">
      <span>Analytics</span>
    </a>
  </li>
  <li>
    <a ui-sref="products.list" ui-sref-active="{ 'active': 'products' }">
      <span>Products</span>
    </a>
  </li>
  <li>
    <a ui-sref="brands.list" ui-sref-active="{ 'active': 'brands' }">
      <span>Brands</span>
    </a>
  </li>
    <li>
    <a ui-sref="offers.list" ui-sref-active="{ 'active': 'offers' }">
      <span>Offers</span>
    </a>
  </li>
  <li>
    <a ui-sref="dispensaries.list" ui-sref-active="{ 'active': 'dispensaries' }">
      <span>Dispensaries</span>
    </a>
  </li>
  <li>
    <a ui-sref="ads.list" ui-sref-active="{ 'active': 'ads' }">
      <span>Ads</span>
    </a>
  </li>
  <li>
    <a ui-sref="push-notifications" ui-sref-active="active">
      <span>Push Notificiations</span>
    </a>
  </li>
  <div class="bottom-menu">
    <li>
      <a ui-sref="settings" ui-sref-active="active">
        <span>Settings</span>
      </a>
    </li>
    <li>
      <a ng-click="logout();">
        <span>Logout</span>
      </a>
    </li>
  </div>
</ul>
