<div ng-controller="adsViewCtrl">
  <div ui-view='header'></div>
  <div layout="row">
    <div layout="column">
      <div ui-view='sidebar' class="sidebar"></div>
    </div>
    <div layout="column" flex="grow" class="p-r-80 p-l-250">
      <div layout="row">
        <div layout="column" flex="grow">
          <form class="upload-form">
            <label class="m-t-0">Title</label>
            <input type="text" ng-model="object.title">
            <label>Ad Type</label>
            <md-select ng-model="object.ad_type" placeholder="" class="md-no-underline" required md-no-asterisk="true" aria-label="Ad Type">
              <md-option value="product">Product</md-option>
              <md-option value="brand">Brand</md-option>
              <md-option value="dispensary">Dispensary</md-option>
            </md-select>
            <label>Enabled</label>
            <md-select ng-model="object.enabled" placeholder="" class="md-no-underline" required md-no-asterisk="true" aria-label="Enabled">
              <md-option value="true">Enabled</md-option>
              <md-option value="false">Disabled</md-option>
            </md-select>
            <label>Website</label>
            <input type="text" ng-model="object.website">
          </form>
        </div>
      </div>
      <div layout="row">
        <div layout="column" flex="grow">
          <div ui-view='dropzone'></div>
        </div>
      </div>
      <div layout="row">
        <div layout="column" flex="grow">
          <div>
            <button class="btn btn-dark upload-btn" ng-click="update();">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>