<div ng-controller="dispensariesViewCtrl">
  <div ui-view='header'></div>
  <div layout="row">
    <div layout="column">
      <div ui-view='sidebar' class="sidebar"></div>
    </div>
    <div layout="column" flex="grow" class="p-r-80 p-l-250">
      <div layout="row">
        <div layout="column" flex="grow">
          <form name="dispensariesEditForm" class="upload-form">
              <div ng-messages="dispensariesEditForm.name.$error" style="color:maroon" role="alert" ng-if="submitted">
              <div ng-message="required">Name is required</div>
            </div>
            <div ng-messages="dispensariesEditForm.description.$error" style="color:maroon" role="alert" ng-if="submitted">
              <div ng-message="required">Description is required</div>
            </div>
            <div ng-messages="dispensariesEditForm.address.$error" style="color:maroon" role="alert" ng-if="submitted">
              <div ng-message="required">Street address is required</div>
            </div>
            <div ng-messages="dispensariesEditForm.city.$error" style="color:maroon" role="alert" ng-if="submitted">
              <div ng-message="required">City is required</div>
            </div>
            <div ng-messages="dispensariesEditForm.state.$error" style="color:maroon" role="alert" ng-if="submitted">
              <div ng-message="required">State is required</div>
            </div>
            <div ng-messages="dispensariesEditForm.postal_code.$error" style="color:maroon" role="alert" ng-if="submitted">
              <div ng-message="required">Zip code is required</div>
            </div>
            <div ng-messages="dispensariesEditForm.background_rgb.$error" style="color:maroon" role="alert" ng-if="submitted">
              <div ng-message="required">Background color is required</div>
              <div ng-message="pattern">#FF0000 pattern required for background color</div>
            </div>
            <label class="m-t-0">Name</label>
            <input name="name" type="text" ng-model="object.name" required>
            <label>Description</label>
            <textarea name="description" type="text" ng-model="object.description" required></textarea>
            <label>Street Address</label>
            <input name="address" type="text" ng-model="object.address" required>
            <div layout="row">
              <div layout="column" flex="stretch" class="m-r-9">
                <label>City</label>
                <input name="city" type="text" ng-model="object.city" required>
              </div>
              <div layout="column" flex="stretch" class="m-r-9 m-l-9">
                <label>State</label>
                <input name="state" type="text" ng-model="object.state" required>
              </div>
              <div layout="column" flex="stretch" class="m-l-9">
                <label>Zip Code</label>
                <input name="postal_code" type="text" ng-model="object.postal_code" required>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div layout="row">
        <div layout="column" flex="grow">
          <div ui-view='dropzone'></div>
        </div>
      </div>
      <div layout="row">
        <div layout="column" flex="grow">
          <div>
            <button class="btn btn-dark upload-btn" ng-click="update();">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
