<div ng-controller="brandsUploadCtrl as brandsUpload">
  <div ui-view='header'></div>
  <div layout="row">
    <div layout="column">
      <div ui-view='sidebar' class="sidebar"></div>
    </div>
    <div layout="column" flex="grow" class="p-r-80 p-l-250">
      <div layout="row">
        <div layout="column" flex="grow">
          <form name="brandUploadForm" class="upload-form">
            <div ng-messages="brandUploadForm.name.$error" style="color:#8f1cff" role="alert" ng-if="submitted">
              <div ng-message="required">Name is required</div>
            </div>
            <div ng-messages="brandUploadForm.description.$error" style="color:#8f1cff" role="alert" ng-if="submitted">
              <div ng-message="required">Description is required</div>
            </div>
            <div ng-messages="brandUploadForm.background_rgb.$error" style="color:#8f1cff" role="alert" ng-if="submitted">
              <div ng-message="required">Background color is required</div>
              <div ng-message="pattern">#FF0000 pattern required for background color</div>
            </div>
            <div ng-messages="brandUploadForm.logo.$error" style="color:#8f1cff" role="alert" ng-if="submitted">
              <div ng-message="required">Logo is required</div>
            </div>
            <label class="m-t-0">Name</label>
            <input name="name" type="text" ng-model="name" required>
            <label>Description</label>
            <textarea name="description" type="text" ng-model="description" required></textarea>
            <label>Background Color</label>
            <color-picker name="background_rgb" options="colorOptions" ng-model="background_rgb" required pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$"></color-picker>
          </form>
        </div>
      </div>
      <div layout="row">
        <div layout="column" flex="grow">
          <div ui-view='dropzone'></div>
        </div>
      </div>
      <div layout="row">
        <div layout="column" flex="grow">
          <div>
            <button class="btn btn-dark upload-btn" ng-click="upload();">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>