<ng-dropzone ng-if="object" class="dropzone" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods"></ng-dropzone>
<ng-dropzone name="logo" ng-if="!object" class="dropzone" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods" required></ng-dropzone>
