<input type="text" class="search" ng-model="searchText" placeholder="Search {{page}}"/>
<table>
  <thead>
    <tr>
      <th class="text-center" style="width:5%">
<!--         <md-checkbox md-no-ink aria-label="Select All" ng-click="toggleAll();">
        </md-checkbox> -->
      </th>
      <th style="width:10%">
        <span class="delete hidden" id="delete-all" ng-click="delete()">DELETE</span>
      </th>
      <th style="width:25%"><span ng-click="orderBy('name')">{{page}}</span><div class="icn-downarrow" ng-click="orderBy('name')"></div></th>
      <th style="width:30%" ng-if='page === "Products"'><span ng-click="orderBy('brand.name')">Brand</span><div class="icn-downarrow" ng-click="orderBy('brand.name')"></th>
      <th style="width:30%" ng-if='page === "Ads"'><span ng-click="orderBy('ad_type')">Ad Type</span><div class="icn-downarrow" ng-click="orderBy('ad_type')"></th>
      <th style="width:30%" ng-if='page === "Brands"'><span ng-click="orderBy()">Ad Type</span><div class="icn-downarrow" ng-click="orderBy()"></th>
      <th style="width:30%" ng-if='page === "Dispensaries"'><span ng-click="orderBy()">Ad Type</span><div class="icn-downarrow" ng-click="orderBy()"></th>
      <th style="width:20"><span ng-click="orderBy('modified')">Modified</span><div class="icn-downarrow" ng-click="orderBy('modified')"></th>
      <th style="width:10%"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="object in objects | filter:searchText | orderBy: order" list-item></tr>
  </tbody>
</table>