<div ng-controller="adsUploadCtrl as adsUpload">
  <div ui-view='header'></div>
  <div layout="row">
    <div layout="column">
      <div ui-view='sidebar' class="sidebar"></div>
    </div>
    <div layout="column" flex="grow" class="p-r-80 p-l-250">
      <div layout="row">
        <div layout="column" flex="grow">
          <form name="adsUploadForm" class="upload-form">
            <div ng-messages="adsUploadForm.title.$error" style="color:#8f1cff" role="alert" ng-if="submitted">
              <div ng-message="required">Title is required</div>
            </div>
            <div ng-messages="adsUploadForm.ad_type.$error" style="color:#8f1cff" role="alert" ng-if="submitted">
              <div ng-message="required">Ad type is required</div>
            </div>
            <div ng-messages="adsUploadForm.enabled.$error" style="color:#8f1cff" role="alert" ng-if="submitted">
              <div ng-message="required">Enabled or disabled is required</div>
            </div>
            <div ng-messages="adsUploadForm.image.$error" style="color:#8f1cff" role="alert" ng-if="submitted">
              <div ng-message="required">Image is required</div>
            </div>
            <label class="m-t-0">Title</label>
            <input name="title" type="text" ng-model="title" required>
            <label>Ad Type</label>
            <md-select name="ad_type" ng-model="adType" placeholder="" class="md-no-underline" required md-no-asterisk="true" aria-label="Ad Type">
              <md-option value="product">Product</md-option>
              <md-option value="brand">Brand</md-option>
              <md-option value="dispensary">Dispensary</md-option>
            </md-select>
            <label>Enabled</label>
            <md-select name="enabled" ng-model="enabled" placeholder="" class="md-no-underline" required md-no-asterisk="true" aria-label="Enabled">
              <md-option value="true">Enabled</md-option>
              <md-option value="false">Disabled</md-option>
            </md-select>
            <label>Website</label>
            <input name="website" type="text" ng-model="website">
          </form>
        </div>
      </div>
      <div layout="row">
        <div layout="column" flex="grow">
          <div ui-view='dropzone'></div>
        </div>
      </div>
      <div layout="row">
        <div layout="column" flex="grow">
          <div>
            <button class="btn btn-dark upload-btn" ng-click="upload();">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>