<div ng-controller="offersListCtrl">
  <div ui-view='header'></div>
  <div layout="row">
    <div layout="column">
      <div ui-view='sidebar' class="sidebar"></div>
    </div>
    <div layout="column" flex="grow" class="p-r-80">
      <div ui-view='list' class="list"></div>
    </div>
  </div>
</div>